<section class="footer">
    <ul class="nav_link_info">
        <li></li>
    </ul>
    <div class="copyright">
        Copyright &copy;{{ site.title }} {{ site.time | date: '%Y' }}
        <iframe
                style="margin-left: 2px; margin-bottom:-5px;"
                src="https://ghbtns.com/github-btn.html?user=Jerry379&repo=Jerry379.github.io&type=star&count=true"
                frameborder="0" scrolling="0" width="91px" height="20px">
        </iframe>
        <iframe
                style="margin-left: 2px; margin-bottom:-5px;"
                src="https://ghbtns.com/github-btn.html?user=Jerry379&repo=Jerry379.github.io&type=watch&count=true&v=2"
                frameborder="0" scrolling="0" width="91px" height="20px">
        </iframe>
        <iframe
                style="margin-left: 2px; margin-bottom:-5px;"
                src="https://ghbtns.com/github-btn.html?user=Jerry379&repo=Jerry379.github.io&type=fork&count=true"
                frameborder="0" scrolling="0" width="91px" height="20px">
        </iframe>
    </div>
</section>