<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="张锐杰-个人博客"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="font/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/articleList.css"/>
    <link rel="stylesheet" href="css/home.css">
</head>